#hero{
    /* border: 1px solid black; */
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 25px;
    /* justify-content: space-around; */
}

#bodyContent{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
}
#hero #bodyimage{
    height: 100%;
    width: 40%;
}
body img{
    width: 100%;

    /* border: 1px solid black; */
}
#bodyContent h1{
    font-size: 72px;
    
}
#bodyContent button{
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}
#bodyContent button:hover{
    background-color: azure;
}